.enter {
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out
}

.active {
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease-in-out
}

.center {
    color: white;
}

.logout {
    color: white;
}

.container {
    background-color: rgba(255, 183, 105, .85);
}
