.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #fff;
}

.container::-webkit-scrollbar-corner {
    background: #fff;
}

.container::-webkit-scrollbar-thumb {
    background-color: #ffb769;
    border: 3px solid #fff;
    border-radius: 10px;
}