html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 20px 20px 60px;
    margin: 0 auto;
    background: url("../public/background.png") fixed;
}

.site-layout-content {
    min-height: 1000px;
    padding: 24px;
    border-radius: 10px;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}