.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer::before {
    content: ' ';
    background: url(https://ipfs.4everland.xyz/ipfs/bafkreigq3m2bj76jl7abz6i5rlzegutcrfc2j2nqkcypksbeyu67fsymoy) no-repeat center;
    height: 368px;
    width: 100%;
    display: block;
    left: 0;
    pointer-events: none;
}