.fade {
    opacity: 0;
    transition: all 500ms ease-in-out
}

.enter {
    opacity: 0;
    transition: all 300ms ease-in-out
}

.active {
    opacity: 1;
    transition: all 300ms ease-in-out
}

.header {
    backdrop-filter: blur(30px) saturate(180%);
    z-index: 1000;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    position: sticky;
    top: 0
}